:root {
    --deep-cerise: #d33682ff;
    --middle-blue-green: #99d5c9ff;
    --pale-pink: #ffd9daff;
    --russian-violet: #392b58ff;
    --old-burgundy: #402e2aff;
}

body {
    background-color: var(--old-burgundy);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a, a:visited {
    color: var(--deep-cerise);
}

p a {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.tooltip-container {
    position: relative;
}

.tooltip-container .tooltip {
    position: absolute;
    top: -5px;
    left: 105%;
    visibility: hidden;
    z-index: 1;
    width: 160px;
    background-color: var(--russian-violet);
    color: white;
    padding: 4px;
    border-radius: 4px;
    text-align: start;
    font-size: 0.7rem;
    opacity: 0.9;
    border: 2px solid var(--deep-cerise);
}

.tooltip-container .tooltip.tooltip-above {
    top: inherit;
    right: inherit;
    bottom: 120%;
    left: 50%;
    margin-left: -80px;
}

#side-bar .tooltip-container .tooltip {
    background-color: var(--deep-cerise);
    border: 2px solid var(--pale-pink);
}

.tooltip-container:hover .tooltip {
    visibility: visible
}

object.icon, svg.icon {
    width: 32px;
    height: 32px;
    pointer-events: none;
}

td.icon {
    padding: 0;
}

td.icon .icon {
    display: block;
}

.small.icon {
    width: 24px;
    height: 24px;
}

@keyframes flash {
    from {
        opacity: 0.0;
    }
    30% {
        opacity: 0.6;
    }
    to {
        opacity: 0;
    }
}

object.effect, svg.effect {
    opacity: 0;
    pointer-events: none;
    animation-duration: 1s;
    animation-name: flash;
    animation-iteration-count: once;
    animation-direction: normal;
}

label.numerical {
    justify-content: right;
}

nav.actions {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

button {
    background: var(--deep-cerise);
    color: var(--russian-violet);
    border: 2px solid var(--russian-violet);
}

button:disabled {
    color: darkgray;
}

.actions button {
    font-size: 0.8em;
    padding: 2px;
    margin: 2px;
    min-width: 40px
}

[data-action] {
    cursor: pointer;
}

[data-action]:disabled {
    cursor: default;
}

.bar {
    display: flex;
    width: 100%;
    background-color: var(--russian-violet);
    flex-direction: row;
    align-items: center;
}

#page {
    display: flex;
    flex: 1;
}

#svg-loader {
    display: none;
}

#root {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    flex-wrap: wrap;
    flex-shrink: 3;
    align-content: start;
}

#dialog {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: center;
    color: var(--russian-violet);
}

#dialog .dialog-box {
    display: flex;
    flex-direction: column;
    background: var(--pale-pink);
    margin: 80px auto 40px auto;
    border: 4px solid var(--deep-cerise);
    border-radius: 8px;
    min-width: 400px;
    min-height: 400px;
    max-width: 80%;
}

#dialog .title {
    text-align: center;
}

#dialog .content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 20px;
    justify-content: space-between;
}

#dialog .credits {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    margin: 0.8em;
}

#dialog button {
    font-size: 1.4em;
}

#top-bar .title {
    font-size: 1.6em;
    margin-left: 1em;
    margin-right: 2em;
}

#top-bar .info {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    height: 32px;
}

#top-bar button {
    border-radius: 4px;
    border: 0;
    min-width: 40px;
    min-height: 40px;
}

#top-bar .info label {
    display: flex;
    background-color: var(--pale-pink);
    color: var(--russian-violet);
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 4px;
    min-width: 40px;
    align-items: center;
}

#top-bar .collected .collected-details {
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
}

#bottom-bar {
    min-height: 44px;
}

#bottom-bar .player {
    margin-left: 8px;
    margin-bottom: 8px;
    width: 128px;
}

#bottom-bar .player-inner {
    position: absolute;
    bottom: 0;
}

#bottom-bar .player img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 6px solid var(--pale-pink);
}

#bottom-bar .player.active img {
    border-color: var(--deep-cerise);
}

#side-bar {
    display: flex;
    flex-basis: 260px;
    flex-shrink: 1;
}

#side-bar > div {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
}

#side-bar .header {
    width: 128px;
    height: 128px;
}

#side-bar .actions {
    width: 100%;
    background: var(--russian-violet);
    border-radius: 8px;
    padding: 2px;
    font-size: 0.8em;
    margin-bottom: 12px;
    min-height: 40px;
    color: var(--pale-pink);
}

#side-bar .actions td {
    height: 24px;
}

#side-bar .actions .action {
    text-align: right;
}

#side-bar .actions .value {
    text-align: right;
}

#side-bar .actions thead {
    color: var(--deep-cerise);
    font-weight: bold;
}

#side-bar .actions thead .name {
    text-align: center;
}

#craft .crafting-status {
    display: flex;
}

#craft .crafting-status label {
    background: var(--middle-blue-green);
    color: var(--russian-violet);
    border-radius: 8px;
    padding: 8px;
    font-size: 0.8em;
    margin: auto 8px auto 0;
    opacity: 0.8;
}

#craft .active.crafting-status label {
    opacity: 1.0;
}

#craft .ingredients {
    font-weight: bold;
}

#event .description {
    background: var(--middle-blue-green);
    color: var(--russian-violet);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
}

#turn-counter {
    position: absolute;
    display: flex;
    top: 20px;
    right: 20px;
    justify-content: center;
    align-items: center;
}

#turn-counter label {
    font-size: 1em;
    font-family: mono;
}

#turn-counter circle {
    stroke: var(--deep-cerise);
}

#turn-counter label {
    position: absolute;
    color: var(--deep-cerise);
}

.spinner circle {
    fill: none;
    stroke-width: 6;
    stroke-opacity: 0.3;
    stroke-linecap: round;
}

.active .spinner circle.circle-fill {
    stroke-opacity: 1;
    stroke-dasharray: 236;
}

@keyframes circle-fill {
    from {
        stroke-dashoffset: 236;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#turn-counter.active circle.circle-fill {
    animation-duration: 1s;
    animation-name: circle-fill;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#craft .spinner {
    stroke: var(--middle-blue-green);
}

#craft .spinner circle.circle-fill {
    stroke-dashoffset: calc(236px - 236px * var(--progress));
    transition: stroke-dashoffset 1s linear;
}

.entity, .buy {
    flex-basis: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 320px;
    box-sizing: border-box;
}

.entity {
    background-color: var(--pale-pink);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 4px;
    border: 4px dashed var(--pale-pink);
}

.entity.controlled {
    border: 4px dashed var(--deep-cerise);
}

.entity .image-frame {
    position: relative;
    width: 160px;
    height: 240px;
    background-image: linear-gradient(#a99678 64%, rgba(255, 255, 255, 0) 80%), url("content/Stontex64.png");
}

.entity .image-frame .action {
    border: 2px solid var(--russian-violet);
    border-radius: 4px;
    background-color: var(--pale-pink);
    position: absolute;
    bottom: 6px;
    right: 6px;
    padding: 4px;
    opacity: 0.8;
    color: var(--russian-violet);
    cursor: not-allowed;
}

.entity .image-frame .action:disabled {
    cursor: default;
    color: darkgray;
}

.entity.controlled .image-frame .action {
    background-color: var(--deep-cerise);
}

.entity .image-frame .stats {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4px;
    left: 4px;
}

.entity .image-frame .stats svg {
    opacity: 0.6;
}

.entity .image-frame .effect {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.entity .image-frame .effect[data-effect="precum"] {
    width: 50%;
    height: 50%;
}

.entity .bars {
    transform: rotate(-90deg) translate(-240px, 0px);
    transform-origin: top left;
    width: 28px;
    height: 240px;
}

.entity progress {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1px;
    width: 220px;
    height: 10px;
    border: 2px solid var(--old-burgundy);
    background: var(--russian-violet);
}

.entity nav.actions {
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: space-between;
}

.buy {
    display: flex;
    background: none;
    flex-direction: column;
    border: 4px dashed var(--pale-pink);
    color: var(--pale-pink);
    justify-content: space-around;
    align-items: center;
}

.buy:disabled {
    background: gray;
    border: 4px dashed darkgrey;
    color: darkgrey;
}

.buy:disabled .big-plus {
    stroke: darkgrey;
}

.buy .big-plus {
    stroke: var(--pale-pink);
    fill: none;
    stroke-width: 6;
    width: 128px;
    height: 128px;
}

.buy .price {
    display: flex;
    align-items: center;
}

progress.arousal::-moz-progress-bar {
    background-color: var(--middle-blue-green) !important;
}
progress.climax::-moz-progress-bar {
    background-color: var(--deep-cerise) !important;
}
progress.juice::-moz-progress-bar {
    background-color: white !important;
}

progress::-webkit-progress-bar {
    background-color: var(--russian-violet);
}
progress.arousal::-webkit-progress-value {
    background-color: var(--middle-blue-green) !important;
}
progress.climax::-webkit-progress-value {
    background-color: var(--deep-cerise) !important;
}
progress.juice::-webkit-progress-value {
    background-color: white !important;
}

span.arousal {
    background-color: var(--middle-blue-green);
}

span.climax {
    background-color: var(--deep-cerise);
}

span.juice {
    background-color: white;
}
